.dropdown-menu {
    a.btn {
        border: none;
        border-radius:0;
    }
    .has-customer {
        color: #ffffff;
    }
    .active{
        color: #000000;
    }
}

.has-customer {
    background-color: #0D8E0C;
    color: #ffffff;
}
